<nav class="navbar navbar-default sjv-header" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand" href="#/">{{systemname}}</a>
    </div>

    <ul class="nav navbar-nav">
        <li data-ng-repeat="link in navigationLinks track by $index"
            data-ng-class="{active: headerController.isActive(link.name)}">
            <a data-ng-href="{{link.href}}" data-ng-if="!headerController.isDropdown(link)">{{link.name}}</a>

            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
               data-ng-if="headerController.isDropdown(link)"
               data-ng-class="{active: headerController.isActive(link.name)}"> {{link.name}}
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu" role="menu" data-ng-if="headerController.isDropdown(link)">
                <li data-ng-repeat="sublink in link.sublinks track by $index" data-ng-class="{divider: headerController.isDivider(sublink)}">
                    <a data-ng-href="{{sublink.href}}" data-ng-if="!headerController.isDivider(sublink)">{{sublink.name}}</a>
                </li>
            </ul>

        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"> {{username}}
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="link in userLinks track by $index" data-ng-class="{divider: headerController.isDivider(link)}">
                    <a data-ng-href="{{link.href}}" data-ng-if="!headerController.isDivider(link)">{{link.name}}</a>
                </li>
            </ul>
        </li>

        <li><img class="sjv-logo" title="sjv-logo" data-ng-src="{{logoSrc}}"></li>
    </ul>

    <form class="navbar-form navbar-right" role="search" data-ng-transclude></form>
</nav>